@model Ticket

<div class="card">
    <div class="card-header">

    </div>

    <div class="card-body">
        <table>
            <tr>
                <th>Raum</th>
                <th>Zeit</th>
                <th>Action</th>
            </tr>

            @{
                foreach(var item in ViewBag.items)
                {
                    <tr>
                        <form asp-action="BookWithTicket" method="post">
                            <input type="text" asp-for="date" value="@item.sDate" hidden disabled />
                            <td><input type="text" asp-for="room" value="@item.room" hidden disabled /> @item.room</td>
                            <td><input type="text" asp-for="block" value="@item.getBlock()" hidden disabled />@item.times</td>
                            <td><button class="btn btn-primary" type="submit">Buchen</button></td>
                        </form>
                    </tr>
                }
            }
        </table>
    </div>

    <div class="card-footer">
        <button class="btn btn-primary" type="submit" asp-controller="Home" asp-action="räume">Home</button>
    </div>
</div>
