@model Room

<div class="homeSite container">
    <div class="row">
        <div class="searchAndPic col">
            <div class="search">
                <h1>Suche</h1>

                <label for="buildingletter">Gebäude</label>
                <input type="text" name="buildingletter" class="buildingletter" required>

                <label for="room">Raumnummer</label>
                <input type="text" name="room" class="room" required>

                <label for="seats">Anzahl Sitzplätze</label>
                <input type="text" name="seats" class="seats" required>

                <label for="whatkindofroom">Art des Raums</label>
                <input type="text" name="whatkindofroom" class="whatkindofroom">

                <button type="submit" class="searchButton">suchen</button>

            </div>
        </div>

        <div class="col">
        @{
            foreach (var item in ViewBag.Rooms)
            {
                <form asp-action="räume" asp-route-name="@item.RoomName">
                    <button type="submit" class="btn btn-primary">@item.RoomName</button>
                </form>
            }
        }
        </div>

        <div class="col">
            <div class="card-header">
                <h5>Raum</h5>
            </div>

            <form>
                <div class="card-body">
                    <div class="row">
                        <div class="col form-group">
                            <label>Name:</label><br />
                            <input asp-for="RoomName" class="form-control" placeholder="@ViewBag.Room.RoomName"/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col form-group">
                            <label>Art:</label><br />
                            <input asp-for="KindOfRoom" class="form-control" placeholder="@ViewBag.Room.KindOfRoom"/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col form-group">
                            <label>Größe:</label><br />
                            <input asp-for="RoomSize" class="form-control" placeholder="@ViewBag.Room.RoomSize"/>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col form-group">
                            <label>Tag:</label><br />
                            <input class="form-control" />
                        </div>
                    </div>
                </div>
                
                <div class="card footer">
                    <button type="submit" class="btn btn-primary">Speichern</button>
                </div>
            </form>
        </div>
    </div>
</div>
