@{
    //DateTime date = new DateTime();
    //int anzCol = 7;
}

@model SearchValues

<div class="homeSite container">
    <div class="row">
        <div class="col">
            <form asp-action="DateSearch">
                <div class="search card">
                    <div class="card-header">
                        <h1>Suche</h1>
                    </div>
                        <!--Search-->
                    <div class="card-body">
                        <div class="form-group">
                            <label>Gebäude</label>
                            <select id="Building" class="form-select" asp-for="building" size="1" aria-label="">
                                <option value="all" selected>All</option>
                                <option value="A">A</option>
                                <option value="B">B</option>
                                <option value="C">C</option>
                                <option value="D">D</option>
                                <option value="E">E</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Raumnummer</label>
                            <input id="RoomName" type="text" class="room form-control" asp-for="roomnumber">
                        </div>

                        <div class="form-group">
                            <label>Anzahl Sitzplätze</label>
                            <input id="RoomSize" type="number" class="seats form-control" asp-for="room.RoomSize">
                        </div>

                        <div class="form-group">
                            <label>Raum Typ</label>
                            <select id="Type" class="form-select" asp-for="room.KindOfRoom" size="1" aria-label="">
                                <option value="all" selected>All</option>
                                <option value="PC-Raum">PC-Raum</option>
                                <option value="Vorlesungssaal">Vorlesungssaal</option>
                                <option value="Medienraum">Medienraum</option>
                                <option value="Labor">Labor</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Datum</label>
                            <input type="date" class="form-control" asp-for="ticket.date" min="@DateTime.Now.ToString("yyyy-MM-dd")" max="@DateTime.Now.AddDays(14).ToString("yyyy-MM-dd")" required/>
                        </div>
                        
                        <div class="form-group">
                            <label>block</label>
                            <select id="Building" class="form-select" asp-for="ticket.block" size="1" required>
                                <option value="1">@TicketShow.GetTimes(1)</option>
                                <option value="2">@TicketShow.GetTimes(2)</option>
                                <option value="3">@TicketShow.GetTimes(3)</option>
                                <option value="4">@TicketShow.GetTimes(4)</option>
                                <option value="5">@TicketShow.GetTimes(5)</option>
                                <option value="6">@TicketShow.GetTimes(6)</option>
                                <option value="7">@TicketShow.GetTimes(7)</option>
                                <option value="8">@TicketShow.GetTimes(8)</option>
                            </select>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Suchen</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="col">
        @{
            //create buttens with some extra attributes
            //they have to be in a form, because i couldnt hide the buttens by them self
            foreach (var item in ViewBag.Rooms)
            {
                <button type="button" class="roomButton btn btn-primary" roomsize="@item.RoomSize" roomtype="@item.KindOfRoom" >@item.RoomName</button>
            }
        }
        </div>

        <div id="iFrameContainer" class="col">
            <!--
                the Jave Script will insert the i frame if a room is selected(clicked)
            -->
        </div>

    </div>
</div>
